body {
  font-family: '游明朝','Yu Mincho',YuMincho,'Hiragino Mincho Pro',serif;
  color: #171717;
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
}
html {
  height: 100%;
  font-size: 62.5%;
}
header {
  display: flex;
  justify-content: space-between;
  height: 56px;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 100;
  transition: all .5s;
}
header h3 {
  line-height: 56px;
  margin: 0;
  color: rgb(255, 250, 245);
  font-size: 2rem;
  letter-spacing: 3px;
  width: 100%;
  margin-left: 96px;
}
/*ヘッダーの変更後の背景*/
.change-color {
  background-color: rgba(48, 47, 47, 0.555);
}
.top {
  width: 100%;
}
.top-text {
  background-image: url(img/fv-bgi_01.jpg );
  transition: background-image 2.5S ease; /*背景画像をゆっくり変化させる*/
  background-size: cover;
  height: auto;
  padding: 0;
  margin: 0;
  background-color: black;
}

.list {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  width: 100%;
  line-height: 56px;
}
.top-list {
  font-size: 1,5rem;
}
.top-list a {
  line-height: 56px;
  color: rgb(255, 250, 245);
  margin-right: 80px;
}

.top-title {
  color: rgb(255, 250, 245);
  padding: 0;
  margin-left: 80px;
  overflow: hidden;
}
.top-title h2 {
  margin-top: 32px;
}
/* トップの幅調整*/
.top-text {
  width: 100%;
  margin: 0 auto;
}
.drawer {
  width: 0;
  display: none;
}
/* チェックボックスは非表示に */
.drawer-hidden {
  display: none;
}
/* ハンバーガーアイコンの設置スペース */
.drawer-open {
  display: flex;
  height: 56px;
  width:  30%;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 100;/* 重なり順を一番上に */
  cursor: pointer;
  float: right;
  z-index: 100;
  position: fixed;
  top: 0px;
  right: 0px;
}
/* ハンバーガーメニューのアイコン */
.drawer-open span,
.drawer-open span:before,
.drawer-open span:after {
  display: hide;
}
/* 三本線のうち一番上の棒の位置調整 */
.drawer-open span:before {
  bottom: 8px;
}
/* 三本線のうち一番下の棒の位置調整 */
.drawer-open span:after {
  top: 8px;
}
/* アイコンがクリックされたら真ん中の線を透明にする */
#drawer-check:checked ~ .drawer-open span {
  background: rgba(255, 255, 255, 0);
}
/* アイコンがクリックされたらアイコンが×印になように上下の線を回転 */
#drawer-check:checked ~ .drawer-open span::before {
  bottom: 0;
  transform: rotate(45deg);
}
#drawer-check:checked ~ .drawer-open span::after {
  top: 0;
  transform: rotate(-45deg);
}
/* メニューのデザイン*/
.drawer-content {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 100%;/* メニューを画面の外に飛ばす */
  z-index: 99;
  background: white;
  transition: .5s;
  text-align: center;
  padding-top: 104px;
}
.drawer-content ul {
  list-style: none;
}
.drawer-content a {
  color: black;
}
/* アイコンがクリックされたらメニューを表示 */
@media (max-width: 670px){
#drawer-check:checked ~ .drawer-content {
  left: 0;/* メニューを画面に入れる */
}}
/* チェックボックスは非表示に */
.drawer-hidden {
  display: none;
}

.top-title h1 {
  font-size: 3rem;
  margin-top: 33%;
  padding: 0;
}

.top-title h2 {
  font-size: 2rem;
  margin-left: 72px;
  padding-bottom: 80px;
}

.top-title h2 br {
  display: none;
}

.concept h2,.service h2 {
  font-size: 3.5rem;
  margin: 96px 0 64px 80px;
  letter-spacing: 7px;
}

.concept h3 {
  font-size: 1.7rem;
  text-align: center;
  line-height: 30px;
  margin-bottom: 64px;
}
.concept-img {
  display: flex;
  align-items: center;
  margin: 0 auto;
  width: 80%;
}

.concept-img img {
  margin-left: 56px;
  display: block;
  width: 50%;
}

.concept-img p {
  font-size: 1.2rem;
  font-family: 'Osaka';
  margin-right: 32px;
  width: 50%;
  line-height: 1.5;
}

.concept h4,.service h4 {
  text-align: right;
  letter-spacing: 10px;
  margin: 96px 80px 80px 0;
  color: rgba(255, 234, 208, 0.644);
  font-size: 4rem;
  }  
.h3-br1 {
  display: none;
}
.contents {
  display: flex;
  justify-content: space-between;
  height: auto;
  padding-bottom: 72px;
  width: 90%;
  margin: 0 auto;
}

.content {
  width: 28%;
  box-shadow: 0px 0px 6px rgba(27, 19, 16, 0.4);
}
.content img {
  width: 100%;
  vertical-align: bottom;/* 画像とテキストの隙間をうめる*/
}

.content p {
  margin: 0 auto;
  line-height: 2.5;
  font-weight: border;
  padding:16px 32px;
  font-size: 1rem;
  background-color:aliceblue;
  margin-top: 0;
  height: 40%;
}

.works-img {
  background-image: url(img/works-bgi@2x.jpg);
  background-size: cover;
  width: 100%;
  margin: 0 auto;
  height: 100%;
}

.works-size {
  width: 80%;
  margin: 0 auto;
}

.work-title {
  display: inline-block;
  width: 90%;
}
.works-img h2,.contact h2{
  color: white;
  text-align: right;
  letter-spacing: 7px;
  font-size: 3.5rem;
  padding: 96px 80px 64px 0;
}

.view-btn {
  margin: 0 auto;
  display: block;
  text-align: center;
}

.view-btn a {
  background-color: rgb(255, 217, 0);
  padding: 16px 72px;
  border-radius: 30px;
}

.works-img h4 {
font-size: 4rem;
color: rgba(172, 170, 169, 0.411);
padding: 96px 0 80px 80px;
letter-spacing: 10px;
}
/*サービス*/
.service {
  width: 100%;
  margin: 0 auto;
  padding: 0;
  margin: 0;
  height: 100%;
}

.ser-contents {
  display: flex;
  width: 100%;
  margin-bottom: 0;
}

.service-content {
  position: relative;
  width: 100%;
  margin: 0 auto;
  font-size: 0;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
}

.ser-img {
  width: 100%;
}

.img-p {
  position: absolute;
  top: center;
  left: center;
  color: white;
  font-size: 2rem;
  display: block;
}

/*ホバー*/
.hover {
  z-index: 1;
  background-color: black;/*黒を重ねる*/
}

.ser-img:hover {
  opacity: 0.5;/*黒を透かす*/
  transition: all 0.3s ease-in-out;
}

.contact {
  background-image: url(img/contact-bgi@2x.jpg);
  width: 100%;
  background-size: cover;
  height: 100%;
}

.contact-form {
  width: 80%;
  margin: 0 auto;
}

.form-text {
  text-align: center;
}

.form-text p {
  color: white;
  height: 50%;
  margin-bottom: 56px;
  font-size: 1.2rem;
}

.form-text a {
  background-color: rgb(255, 217, 0);
  padding: 16px 72px;
  border-radius: 30px;
}

.contact h4 {
  font-size: 4rem;
  color: rgba(172, 170, 169, 0.411);
  padding: 96px 0 80px 80px;
  margin: 0 auto;
  letter-spacing: 10px;
}

footer {
  height: 48px;
}

footer p {
  text-align: center;
  font-weight: normal;
  font-size: 15px;
  line-height: 48px;
}
